<div class="row">
  <div class="col offset-s4 s4 card">
    <h4>Patentes</h4>
    <%= render 'patents/new' %>

    <% if @patents.size > 0 %>
    <ul class="collection">
      <% @patents.each do |patent| %>
        <li class="collection-item selectable-item <%= 'item-selected' if patent.selected %>" data-id="<%= patent.patent.id %>">
          <span><%= patent.patent.number %></span>
          <%= link_to 'Delete', patent_path(patent.patent), method: :delete, class: 'delete-link right-align' %>
        </li>
      <% end %>
    </ul>
    <span class="hint">Selecciona patentes haciendo click sobre ellas.</span>
    <% else %>
      <div class="row">
        <div class="col s12">
          <p>No tenés patentes agregadas.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>