<h4>Patentes</h4>
<div class="row">
  <div class="col">
    <%= render 'patents/new' %>

    <% if @patents.size > 0 %>
    <ul class="collection">
      <% @patents.each do |patent| %>
        <li class="collection-item <%= 'item-selected' if patent.selected %>" data-id="<%= patent.patent.id %>">
          <span><%= patent.patent.number %></span>
          <%= link_to 'Delete', patent_path(patent.patent), method: :delete, class: 'delete-link right-align' %>
        </li>
      <% end %>
    </ul>
    <% else %>
      <div class="row">
        <div class="col s12">
          <p>No patents added.</p>
        </div>
      </div>
    <% end %>
    <span class="hint">Selecciona patentes haciendo click sobre ellas.</span>
  </div>
</div>