<ul id="slide-out" class="side-nav fixed">
  <% if user_signed_in? %>
    <li><%= link_to 'Smart Parking', home_index_path, class: 'logo' %></li>
    <li><a>Hello, <%=current_user.name %></a></li>
    <li><%= link_to 'Areas', areas_path %></li>
    <li><%= link_to 'Patentes', patents_path %></li>
    <li><%= link_to 'Mis Reservas', reservations_path %></li>
    <li><%= link_to 'Mis Tarjetas de Credito', payments_path %></li>
    <li><%= link_to 'Cerrar Cesión', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
    <li><%= link_to 'Registrarme', new_user_registration_path %></li>
  <% end %>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>