<ul id="slide-out" class="side-nav fixed">
  <li><a class="logo-title">Smart Parking</a></li>
  <li><a>Hola, <%=current_user.name.split.first %></a></li>
  <li><%= link_to 'Areas', areas_path %></li>
  <li><%= link_to 'Patentes', patents_path %></li>
  <li><%= link_to 'Reservas', reservations_path %></li>
  <li><%= link_to 'Medios de pago', payments_path %></li>
  <li><%= link_to 'Areas de interes', interested_areas_path %></li>
  <li><%= link_to 'Cerrar Cesión', destroy_user_session_path, method: :delete %></li>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>