<div class="modal-content">
	<div class="row">
		<div class="col s6">
			<h6>Datos de la Reserva</h6>
			<ul class="collection">
				<li class="collection-item"><strong>Inicio:</strong> <%= reservation.start_at.strftime('%d/%m/%Y %H:%M:%S') %></li>
				<li class="collection-item"><strong>Fin:</strong> <%= reservation.ends_at.strftime('%d/%m/%Y %H:%M:%S') %></li>
				<li class="collection-item"><strong>Patente:</strong> <%= reservation.patent.number %></li>
				<li class="collection-item"><strong>Area:</strong> <%= reservation.spot.area.name %></li>
				<li class="collection-item"><strong>Parcela:</strong> <%= reservation.spot.number %></li>
				<li class="collection-item"><strong>Monto a Pagar:</strong> $<%= reservation.amount %></li>
			</ul>
		</div>
		<div class="col s6">
			<%= form_for(reservation, url: save_pay_reservation_path(reservation)) do |f| %>
				<div class="field">
					<%= f.label :payment_id, "Medio de Pago" %>
					<%= f.select(:payment_id, {},{},{class: "browser-default"}) do %>
						<%= content_tag(:option,"Descontar Saldo de Cuenta", value: "0") %>
						<% current_user.payments.each do |payment| %>
							<%= content_tag(:option, payment.to_string, value: payment.id) %>
						<% end %>
					<% end %>
				</div>
				<div class="field actions right-align spaced">
					<%= f.submit "Pagar", class: "btn" %>
				</div>
			<% end %>
		</div>
</div>