<div class="row">
	<div class="col offset-s3 s6 card">
		<h5><%= fa_icon 'credit-card-alt', class: 'icon' %> Mis medios de pago</h5>
    <% if payments? %>
  		<ul class="collection">
  			<% current_user.payments.each do |payment| %>
  				<li class="collection-item"><strong>Banco:</strong> <%=payment.bank %> - <strong>Numero:</strong> <%= payment.credit_card_number %> <%= link_to 'Delete', payment_path(payment), method: :delete, class: 'delete-link' %></li>
  			<% end %>
  		</ul>
    <% else %>
      <div class="row center blank-slate">
		    No tienes ninguna tarjeta cargada hasta el momento, haz <a href="#payment-modal" class="modal-trigger">click aquí</a> para crear una.
      </div>
    <% end %>
	</div>
</div>

<div id="payment-modal" class="modal">
  <%= render partial: 'new', locals: {payment: @payment} %>
</div>