<!DOCTYPE html>
<html>
<head>
  <title>SmartParking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/sidenav' %>

<main>
  <div class="container">
    <div class="col offset-s3 s6">
      <div class="center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>
    </div>
      
  </div>
</main>

</body>
</html>
